body {
  font-family: Arial;
  text-align: center;
  background: #1b1b1b;
  color: white;
}
.menu a {
  display: block;
  margin: 20px;
  font-size: 24px;
  color: #4caf50;
  text-decoration: none;
}
